body{
    background-color: bisque;
    font-family:Kantumruy Kanit;
    font-size: small;
    text-align: center;
}

.navi{
    font-size: medium;
    background-color: 0E9594;
	
}

footer{
    opacity: 50%;
    font-family: sans-serif;
	text-align:jyyg  
}